.footer {
    width: 100%;
    background-color: rgb(23, 23, 23);
    color: aliceblue;
    padding: 12px;
    overflow: hidden;
}

.footer a {
    display: inline-block;
    vertical-align: top;
}

#thm {
    display: block;
    float: left;
    width: 100px;
    border-radius: 12px;
    margin-right: 12px;
}

#github {
    display: block;
    float: left;
    width: 100px;
    border-radius: 12px;
    margin-right: 11px;
}